*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: black;
}
.price{
    width: 90%;
}
.price-con{
    display: flex;
    justify-content: center;
    align-items: center;
}
.price button{
    width: 100%;
    height: 30px;
    font-size: 30px;
    font-weight: 600;
}
.nav-1{
    height: 50px;
    font-size: 40px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav-con{
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    position: sticky;
    top: 1px;
}
.nav{
    height: 70px;
    width: 98%;
    display: flex;
    justify-content: space-between;
    
}
header{
    font-size: 50px;
}
.cont{
    width: 98%;
}
.dropdown-con{
    height: 1px;
    width: 200px;
    background-color: white;
    display: flex;
    justify-content: right;
    transition: 600ms;
    font-size: 30px;
}
ul{
    list-style: none;
    overflow-y: hidden;
    text-align: left;
    color: black;
    font-weight: 600;
}
.dropdown-con img{
    width: 50px;
    height: 50px;
}
.dropdown-con .img{
    width: 50px;
    height: 50px;
}
.name-con{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}
header{
    font-size: 50px;
}
.name{
    width: 98%;
    height: 200px;
    display: flex;
    justify-content: left;
    align-items: center;
    
}
h1{
    font-size: 190px;
    color: bisque;
}
.body{
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.shelf .img{
    height: 600px;
    width: 460px;
}
.shelf .img img{
    height: 600px;
    width: 460px;
}
.shelf h2{
    font-size: 30px;
}
.shelf p{
    font-size: 20px;
    font-weight: 600;
}
.shelf {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: column;
    height: 700px;
    width: 460px;
    background-color: black;
    color: white;
}



@media(max-width: 1000px){
    .price button{
        width: 100%;
        height: 10px;
        font-size: 10px;
        font-weight: 600;
    }
    h1{
        font-size: 50px;
    }
    header{
        font-size: 30px;
    }
    .name{
        width: 98%;
        height: 100px;
    }
    .name-con{
        width: 100%;
        height: 100px;
    }
    .shelf h2{
        font-size: 20px;
    }
    .shelf p{
        font-size: 10px;
        font-weight: 300;
    }
    .shelf .img{
        height: 350px;
        width: 200px;
    }
    .shelf .img img{
        height: 350px;
        width: 200px;
    }
    .shelf {
        display: flex;
        justify-content: center;
        align-items: top;
        flex-direction: column;
        height: 500px;
        width: 200px;
        background-color: black;
        color: white;
        font-size: 10px;
    }
}
    